@using Humanizer;
@model Proyecto_1.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroReserva).Humanize()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraReserva).Humanize()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente).Humanize()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPersonas).Humanize()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraCreacion).Humanize()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraCreacion)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Volver a la lista</a>
</div>
